body {
    margin: 0;
}
.container {
    display: flex;
    justify-content: space-around;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    background-color: rgb(4, 12, 99);
    color: white;
    margin: 30px;
}
button {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 0;
    background: none;
    border: 2px solid white;
    color: white;
    
}
p {
    padding: 20px 30px;
    background-color: black;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 60px;
}

button:hover {
    font-size: 10px;
}