body {
    font-family: 'Trebuchent MS', sans-serif;
    background-image: url(images/table.png);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}
h1 {
    color: goldenrod;
}
#message-el {
    font-style: italic;
}
button {
    background-color: goldenrod;
    border: none;
    width: 200px;
    padding: 5px 0;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    color: #016f32;
}
button:hover {
    width: 205px;
}