body {
    font-family: 'Trebuchent MS', sans-serif;
    background-image: url(images/table.png);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}
h1 {
    color: goldenrod;
}
#message-el {
    font-style: italic;
}
button {
    background-color: goldenrod;
    border: none;
    padding: 5px 40px;
    font-weight: bold;
    font-size: 20px;
    color: #0437048a;
}

