body {
    margin: 0;
    color: D0C6A1;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

#hero {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2d0MzdramF5bnlyeng0NWd6N2U3NjVxNnA3YWVkbnJzNjNleGlkbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iicDrNGWxHmDrIni6j/giphy.gif");
    background-size: cover;
    padding: 100px 0 300px 0;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-weight:900;
    color: 2D342C;
}
.underline {
   border-bottom: 4px solid white;
}

#logo {
    width: 100px;
    height: 70px;
    background-image: none;
    
}
