body {
 background-image: url("images/station.png");
 background-size: cover;
 font-family: Tahoma, sans-serif;
 font-weight: bold;
 text-align: center;
}
h1 {
    margin-top: 150px;
    margin-bottom: 10px;
}
h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
 button {
    border: none;
    padding: 8px 50px;
    font-weight: bold;
    color: white;
    width: 250px;
    border-radius: 5px;
    margin: 10px 30px;
 }
 #increment-btn {
    background-color: darkred;
 }
 #save-btn {
    background-color: green
 }
#entries-log {
   font-weight: bold;
   font-size: 15px;
   padding: 10px;
   background-color: whitesmoke;
   border-radius: 7px;
}

 #increment-btn:hover {
    background-color: brown;
 }
  #save-btn:hover {
    background-color: #13b413b7;
 }  