body {
 background-image: url("images/station.png");
 background-size: cover;
 font-family: Tahoma, sans-serif;
 font-weight: bold;
 text-align: center;
}
h1 {
    margin-top: 150px;
    margin-bottom: 10px;
}
h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
 button {
    border: none;
    background-color: darkred;
    padding: 8px 50px;
    font-weight: bold;
    color: white;
    width: 200px;
    border-radius: 5px;
 }

 button:hover {
    background-color: brown;
 }